# Python
__pycache__/
*.py[cod]
*.egg-info/
.env
.venv/
env/
build/
dist/
.ipynb_checkpoints/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Editores / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Streamlit / secretos
.streamlit/secrets.toml

# Datos pesados (ajusta según tu repo)
# data/
# *.xlsx
